<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Library index</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- my css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

</head>
<body>
<!-- included header -->
<header th:replace="fragment/header"></header>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Author</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book, status : ${booklist}">
            <td th:text="${status.count}">1</td>
            <td th:text="${book.bookTitle}">book title</td>
            <td th:text="${book.bookAuthor}">book author</td>
            <td th:text="${book.bookPrice}">book price</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>